*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-primary-dark:rgba(22,22,22,0.9);
    --color-font-primary-dark:#ffffff;
    --color-background-primary-dark: rgba(19,19,19,0.3);
    --color-borderline-primary-dark: #F1F5F9;
    --color-background-button: #2563EB;
}
body {
    font-family: 'Anek Latin', sans-serif;
    background: rgb(55,12,44);
background: radial-gradient(circle, rgba(55,12,44,0.95) 3%, rgba(31,1,34,0.98) 42%, rgba(0,0,1,0.9528186274509804) 83%);
}
.header {
    background-color: var(--color-primary-dark) ;
    color: var(--color-font-primary-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    margin-bottom: 2%;
}
.header-title {
    font-size: 1.7em;
}
.header .btn-dark {
    padding: 1em;
    width: 50px;
    border-radius: 30%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card { 
    padding: 2em;
    color: var(--color-font-primary-dark);
    z-index: 10;
    position: relative;
    width: 435px;
    height: 253px;
    border-radius: 20px;
    background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.data-card {
    background-color: var(--color-background-primary-dark);
    opacity: .9;
    margin-top: 8%;
    position: absolute;
    width: 827px;   
    border-radius: 20px;
    box-shadow: 1px 1px 8px var(--color-borderline-primary-dark);
}
.content-chip-debit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}
.content-chip-debit img {
    width: 59px;
    height: 44px;
}
.name-bank {
    text-align: end;
    font-size: 1.5em;
}
.number-card {
    margin-top: 5%;
    font-size: 1.5em;
}
.information-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-size: .7em;
}
.information-card p:nth-child(2) {
    margin-left: 2%;
}
.footer-card {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7em;
}
.footer-card img {
    width: 70px;
    height: 31px;
}
.data-card form{
    padding: 2em;
    margin-top: 16%;
    flex-direction: column;
    align-items: center;
}
.form-data-card {
    color: white;
}
.form-data-card input {
    padding: 1.2em;
    border-radius: 50px;
    width: 100%;
    margin: .5em;
    outline: none;
    border: none;
}
.group-input label,p  {
    margin-left: 1em;
}
.group-input p {
    color: red;
    margin-bottom: 2%;
    display: none;
}
.input-data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.data-error-check input {

}
.icon-error,.icon-check {
    margin-right: 3%;
    position: absolute;
    z-index: 10;
    color: red;
    display: none;
}
.icon-check {
    color: green;
    display: none  ;
}
.icon--confg {
    margin-right: 10%;
}
.btn-validar{
    margin: 0 auto;
    background-color: var(--color-background-button);
    width: 4    0%;
    display: block;
    padding: 1.2em;
    margin-top: 4%;
    border: none;
    border-radius: 50px;
    color: var(--color-font-primary-dark);

}
.form-input-datatime-cvv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
